<h2 mat-dialog-title>{{title}}</h2>

<mat-dialog-content [formGroup]="form">
  
  <mat-form-field>
    Temperature:
    <input matInput formControlName="temperature">
  </mat-form-field>
  <mat-form-field>
    Humidity:
    <input matInput formControlName="humidity">
  </mat-form-field>
  <mat-form-field>
    Sensor GUID:
    <input matInput formControlName="sensorId">
  </mat-form-field>
  <mat-form-field>
    DateTime:
    <input type="date" matInput formControlName="dateTime">
  </mat-form-field>
  
</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button"(click)="close()">Close</button>
    <button class="mat-raised-button mat-primary"(click)="save()">Save</button>
</mat-dialog-actions>